html {
  --color-accent: oklch(51.604% 0.16482 318.503);
  accent-color: var(--color-accent);
  color-scheme: light dark;
}
body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 0 2rem;
}

.color-scheme {
  position: absolute;
  display: flex;
  top: 1rem;
  right: 1rem;
  font-size: .8rem;
  font-family: inherit;
}

nav {
  --border-color: oklch(50% 10% 200 / 40%);
  border-bottom-color: var(--border-color);
  display: flex;
  margin-bottom: auto;
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.4em;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
  padding-bottom: 0.4em;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  gap: 1em;
}

button {
  grid-column: 1 / -1;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-template-rows: subgrid;
  gap: 1em;
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}

.projects article h2 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  border-bottom: none;
  margin: 0;
  text-wrap: balance;
  padding: 0;
}

h1 {
  font-size: 400%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.resume-header h1 {
  font-size: 3em;
  font-weight: 700;
  margin: 0;
}

.skills,
.leadership,
.resumeprojects,
.education {
  margin-top: 2em;
}

.job,
.project,
.school,
.coursework {
  margin-bottom: 1.5em;
}

h2 {
  border-bottom: 2px solid #ccc;
  padding-bottom: .6em;
  margin-top: 1em;
}

h3 {
  font-weight: 600;
  margin-bottom: 0.25em;
  padding-top: 0.6em;
}